<div id="cardContainer">
<mat-card class="md-toolbar-tools container" id="container">
  <mat-card-title id="title">Hello World</mat-card-title>
  <mat-card-content id="contenttext"><p>Hello World auf Material-Card</p>
  </mat-card-content>
  <mat-card-actions id="iconButton">
     
          <button mat-fab routerLink="/hw">
          <mat-icon>commute</mat-icon></button>
  </mat-card-actions>  
</mat-card>
<mat-card class="md-toolbar-tools container" id="container2">
  <mat-card-title id="title">ngHome</mat-card-title>
  <mat-card-content id="contenttext"><p>Go To NgHome</p>
  </mat-card-content>
  <mat-card-actions id="iconButton">
    
        <button mat-fab routerLink="/hw">
        <mat-icon>home</mat-icon>
        </button>
  </mat-card-actions>  
</mat-card>
<mat-card class="md-toolbar-tools container" id="container3">
    <mat-card-title id="title">gallerie</mat-card-title>
    <mat-card-content id="contenttext"><p>Go To Gallerie</p>
    </mat-card-content>
    <mat-card-actions id="iconButton">
      
          <button mat-fab routerLink="/gl">
          <mat-icon>android</mat-icon>
          </button>
    </mat-card-actions>  
  </mat-card>
</div>